In [212]:
import pandas as pd
da1 = pd.read_csv('T:\BusinessPlanning\Analytics\Consumer Analytics\Daily_Apps_Reporting\Sales MIS & Daily Reports (NAA)\DailyReports\Inputs\Daily_Data.csv', engine='python',
                skiprows=1,  names=['account_limit',
'account_type',
'activity',
'additional_bank',
'address',
'aeme_merchant',
'age',
'all_doc_enclosed',
'app_signed',
'app_status',
'application_date',
'application_type',
'applying_for_mr',
'approve_date',
'approved',
'avg_bank_balance',
'bank',
'bank_account_number',
'bank_client',
'bank_name',
'add_branch',
'branch',
'campaign',
'card_product',
'card_with_supp',
'charge_card_number',
'charge_member_since',
'civil_id_nbr',
'cl_country_of_origin_address',
'cl_residential_address',
'client_code',
'credit_bureau',
'years_at_current',
'customer_request_id',
'cycle_code',
'dbr',
'dd_flag',
'diners',
'dsa',
'education',
'cl_email',
'emp_address',
'emp_email',
'emp_fax',
'emp_phone',
'employer_code_tml',
'exceptional_code',
'family_name',
'family_status',
'fee_code',
'final_reject_reason',
'first_reject_reason',
'firstname',
'gender',
'hired_on',
'cl_home_phone',
'internet_card',
'job_title',
'loan_type',
'mailing_address',
'mastercard',
'memo_1',
'memo_2',
'memo_3',
'cl_mobile_phone',
'nationality',
'net_annual_salary',
'other_annual_income',
'parnter_bank',
'passport_nbr',
'pay_option',
'policy_rules',
'pre_approved',
'years_at_previous',
'profile_code',
'reject_date',
'relationship',
'residence_type',
'rev_card_number',
'rev_member_since',
'runner',
'score',
'shadow_account_nbr',
'socio_prof_catg',
'source_app',
'total_income',
'vip',
'visa',
'work_status',
'years_at_employer',
'employer_category',
'Other1',
'Other2',
'Other3',
'Other4',
'NAA',
'NCA',
'Product_Type',
'C_B',
'Charge_Card',
'Charge_MS',
'Revolve_Card',
'Revolve_MS',
'CONCAT',
'NCA_Category',
'APPL_MONTH',
'APPR_MONTH',
'MARKET',
'PROD_CUST',
'NAA_NEW',
'Inventory',
'F112',
'F113',
'F114',
'F115',
'profile_code1',
'PRODUCT',
'Product_Type_2',
'Channel',
'F120',
'F121',
'PROF',
'CHG_CARD',
'CHG_MS',
'REV_CARD',
'REV_MS',
'CONCAT1',
'NAA_Category',
'NAA1',
'F130',
'Campaign1',
'Channel1',
'F133',
'Test_Client_Codes',
'F135',
'F136',
'F137',
'BRANCH_RDD',
'MARKET_CUST'
] ,parse_dates=['approve_date'])

In [215]:
da1.columns
da1.head()
# print('\n'.join(da1.columns))
# data1.describe
# da1['reject_date']

da1['approve_date']=pd.to_datetime(da1['approve_date'], format= '%m:%d:%Y')

In [216]:
da2 =da1[da1['app_status'].isin(["FINAL APPROVE","FINAL REJECT"]) ]

In [218]:
da2.head()
da2.dtypes
da2.size
da2.ndim
da2.shape
da2.columns

Index(['account_limit', 'account_type', 'activity', 'additional_bank',
       'address', 'aeme_merchant', 'age', 'all_doc_enclosed', 'app_signed',
       'app_status',
       ...
       'F130', 'Campaign1', 'Channel1', 'F133', 'Test_Client_Codes', 'F135',
       'F136', 'F137', 'BRANCH_RDD', 'MARKET_CUST'],
      dtype='object', length=139)

In [219]:
da2=da2.rename(columns = {"app_status" : "APP_STATUS",
"APPR_MONTH" : "APPR_MONTH",
"application_date" : "APP_DT",
"approve_date" :"APPR_DT",
"PROD_CUST" : "PRODUCT2",
"MARKET" : "MARKET2",
"reject_date" : "DECL_DT",
"first_reject_reason" : "FIRST_REJ_REASON",
"final_reject_reason" : "FIN_REJ_REASON",
"card_with_supp" : "BASIC_SUPP"})

In [221]:
da3=da2[['APP_STATUS','APPR_MONTH'
         ,'MARKET2','FIRST_REJ_REASON','FIN_REJ_REASON','BASIC_SUPP',"APP_DT","APPR_DT",'PRODUCT2','DECL_DT',
        'Other2','NCA_Category','NAA_NEW','account_limit','firstname','family_name','campaign','client_code','shadow_account_nbr',
         'dsa','runner'
         
        ]]
da3.shape
print('\n'.join(da3.columns))

APP_STATUS
APPR_MONTH
MARKET2
FIRST_REJ_REASON
FIN_REJ_REASON
BASIC_SUPP
APP_DT
APPR_DT
PRODUCT2
DECL_DT
Other2
NCA_Category
NAA_NEW
account_limit
firstname
family_name
campaign
client_code
shadow_account_nbr
dsa
runner

In [222]:
da3['cm_name'] = da3['firstname'] +' '+ da3['family_name']
da3['cm_name']

C:\Users\RValavala\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0                          Hany Zeidan
1                      ANOOP NARAYANAN
2                  Jonathan Muthurajah
3                      PHILIPPE SOMERS
4                         TAYYAR ERSOY
                     ...
39725            SHIVRAJ SHANKAR SWAMI
39726     VARATHA RAJAN KRISHNAMOORTHY
39727                     AHMED QASSEM
39728                   NOUF AL-SULITI
39729    RAGHAVENDRA PADMANABHA KAMATH
Name: cm_name, Length: 1864, dtype: object

In [223]:
pd.crosstab(da3.MARKET2, da3.APP_STATUS, margins=True, margins_name="Total")

APP_STATUS    FINAL APPROVE  FINAL REJECT  Total
MARKET2
BAHRAIN                  83            27    110
EGYPT                   101             5    106
JORDAN                   55            18     73
KUWAIT                  319            28    347
LEBANON                  57             3     60
NORTH AFRICA             22             1     23
OMAN                    185            47    232
QATAR                   240            44    284
UAE                     442           187    629
Total                  1504           360   1864

In [224]:
# da3['APPR_MONTH']

# Get a series of unique values in column 'Age' of the dataframe
uniqueValues = da3['APPR_MONTH'].max()
uniquemonth = round(uniqueValues)
print('Unique elements in column "Age" ')
print(uniqueValues)
print(uniquemonth)

Unique elements in column "Age"
202002.0
202002

In [233]:
compuniquenames = da3.MARKET2.unique()
companydict = {elem : pd.DataFrame() for elem in compuniquenames}

for key in companydict.keys():

        companydict[key] = da3[:][da3.MARKET2 == key]
        companydict[key].to_csv (f'//aemeportal/DavWWWRoot/sites/newcard/{key} Daily Apps/DailyApps_AEME{key} {uniquemonth}.csv', index = False, header=True) #Don't forget to add '.csv' at the end of the path
          
        
print(key)

NORTH AFRICA

In [234]:

# import pandas as pd

# bah = pd.DataFrame(da3[da3.MARKET2 == 'BAHRAIN'])
# EGP = pd.DataFrame(da3[da3.MARKET2 == 'EGYPT'])
# bah.to_csv (r'T:\BusinessPlanning\Excom materials\SET.Excom\2020\1+11\Business Update\Excom\BAH.csv', index = False, header=True) #Don't forget to add '.csv' at the end of the path
# EGP.to_csv (r'T:\BusinessPlanning\Excom materials\SET.Excom\2020\1+11\Business Update\Excom\EGP.csv', index = False, header=True) #Don't forget to add '.csv' at the end of the path
# print (df)

In [235]:
# import tkinter as tk
# from tkinter import filedialog
# from pandas import DataFrame


# df = DataFrame(da3)


# root= tk.Tk()

# canvas1 = tk.Canvas(root, width = 300, height = 300, bg = 'lightsteelblue2', relief = 'raised')
# canvas1.pack()

# def exportCSV ():
#     global df
    
#     export_file_path = filedialog.asksaveasfilename(defaultextension='.csv')
#     df.to_csv (export_file_path, index = False, header=True)

# saveAsButton_CSV = tk.Button(text='Export CSV', command=exportCSV, bg='green', fg='white', font=('helvetica', 12, 'bold'))
# canvas1.create_window(150, 150, window=saveAsButton_CSV)

# root.mainloop()